<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{member.avatar?member.avatar:'assets/img/avatar.jpg'}}">
    </ion-avatar>
    姓名：{{member.name}}, 年龄：{{member.age}}
  </ion-item>

   <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>0 Grades</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>0 Exam</div>
      </button>
    </ion-col>
    <ion-col text-center>
      <!--<ion-note *ngIf="member.isHere" color="secondary">
        已签到
      </ion-note>
       <ion-note *ngIf="!member.isHere" color="danger">
        未签到
      </ion-note>-->
      <button ion-button color="primary" outline clear (click)="chooseMember()">编辑</button>
      <button ion-button color="danger" outline clear (click)="delete()">删除</button>
    </ion-col>
  </ion-row>
</ion-card>